<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{ partial "head.html" . }}
  <body>
    <div class="wrapper">

      {{ partial "header.html" . }}

      <div class="content">

        <div class="title">

          <h1>My Projects</h1>

        </div>

        <div class="collections">
          <p>I love creating cool stuff</p>
          <p> Here's a selection of projects I have done. Most will be in javascript and will be user interactive in some way. Look around and you may find something you like</p>

          <br>

          <div class="projects">
            {{ range .Pages }}
              <!-- <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2> -->
              {{ partial "projects/single_project.html" . }}
            {{ end }}


          </div>
        </div>
      </div>


      <div id="footer">
        <nav>
          <ul>
            <li><a href="https://github.com/thedoodler" > <i class="fa fa-github"></i></a></li>
            <li><a href="https://www.hackerrank.com/thedoodler" > <i class="fab fa-hackerrank"></i></a></li>
            <li><a href="https://www.instagram.com/ram._.prakash/" > <i class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ram-prakash1/" > <i class="fa fa-linkedin"></i></a></li>
            <li><a href="mailto:ramprakshsmail@gmail.com" > <i class="fa fa-envelope"></i></a></li>
          </ul>
        </nav>
      </div>

    </div>

  </body>
</html>
