<!-- {{ define "main" }}
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}
 -->

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="homepage/css/mystyle.css">
    <script src="https://kit.fontawesome.com/2f9f7e1032.js" crossorigin="anonymous"></script>
    <title>Ram Prakash</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="buttons">
        <i style="font-size:1.5em" id="night_mode" class="fas fa-sun fa-ls"></i>
      </div>
      <div id="main">
        {{ partial "header.html" . }}

        <div id='content'>

          <div id="namediv">
            <h1 id="name">Ram Prakash</h1>
            <p>Developer &nbsp;&bull;&nbsp; Problem Solver &nbsp;&bull;&nbsp; Artist </p>
          </div>

          <!-- <div id='shadows'>

            <h1 id="name_shadow">Ram Prakash</h1>

          </div> -->

        </div>
      </div>

      {{ partial "footer.html" .}}



    </div>
    <script src="homepage/js/p5.min.js"></script>
		<script src="homepage/js/experiment.js"></script>
		<script src="homepage/js/tries.js"></script>
  </body>
</html>
