<!-- {{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }} -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/2f9f7e1032.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/blog/css/style.css">
    <link rel="stylesheet" href="/libraries/highlightjs/styles/base16/chalk.min.css"/>
    <script src="/libraries/highlightjs/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>{{ .Title }}</title>
  </head>

  <body>
    <div class="wrapper">

      {{ partial "header.html" .}}

      <div class="content">


        <div class="posts">
        <div class="single_post">

          <h2 class="post_heading">{{ .Title }}</h2>
          <ul>
            <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <li>{{ .Date.Format "2 Jan 2006" }}</li>
          </ul>
          {{ .Content }}
        </div>
          <div class="title">
          </div>

        </div>

        </div>

        {{ partial "footer.html" .}}


    </div>



  </body>
</html>
