<!-- <p>Copyright {{ now.Year }}. All rights reserved.</p> -->

<div id="footer">
    <nav>
        <ul>
        <li><a href="https://github.com/imnuvi" > <i class="fa fa-github"></i></a></li>
        <li><a href="https://www.hackerrank.com/thedoodler" > <i class="fab fa-hackerrank"></i></a></li>
        <li><a href="https://www.instagram.com/ram._.prakash/" > <i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ram-prakash1/" > <i class="fa fa-linkedin"></i></a></li>
        <li><a href="mailto:ramprakshsmail@gmail.com" > <i class="fa fa-envelope"></i></a></li>
        </ul>
    </nav>
</div>